<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>demon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,157}}</string>
                <key>sourceSize</key>
                <string>{211,157}</string>
            </dict>
            <key>demon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{211,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,157}}</string>
                <key>sourceSize</key>
                <string>{211,157}</string>
            </dict>
            <key>demon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{211,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,157}}</string>
                <key>sourceSize</key>
                <string>{211,157}</string>
            </dict>
            <key>demon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,161},{211,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,157}}</string>
                <key>sourceSize</key>
                <string>{211,157}</string>
            </dict>
            <key>demon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{211,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,157}}</string>
                <key>sourceSize</key>
                <string>{211,157}</string>
            </dict>
            <key>demon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,320},{211,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,157}}</string>
                <key>sourceSize</key>
                <string>{211,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>demonAnim.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54144a8790d87cec7831b3e87b59aa8$</string>
            <key>textureFileName</key>
            <string>demonAnim.png</string>
        </dict>
    </dict>
</plist>
